.formArea {
  
    .leftC {
      background: #e4a4a4;
      padding: 200px 98px;
  
      h2 {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 700;
        font-size: 60px;
      }
    }
  
    .rightC {
      padding: 70px 100px;
      position: absolute;
  
      i {
        position: absolute;
        font-size: 80px;
        left: -27px;
        top: 40%;
        color: white;
      }
  
      .form-control {
        border: 2px solid black;
      }
  
      button {
        border: none;
        border-radius: 0;
        background: #252525;
        width: 180px;
        color: white;
        padding: 15px 0;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
  